asgiref==3.2.7
beautifulsoup4==4.9.1
config==0.5.0.post0
confusable-homoglyphs==3.2.0
dj-database-url==0.5.0
Django==1.11.29
django-bootstrap3==12.1.0
django-bootstrap4==2.0.1
django-contrib-comments==1.9.2
django-heroku==0.3.1
django-registration==2.4.1
django-tinymce==3.0.2
djangorestframework==3.11.0
gunicorn==20.0.4
importlib-metadata==1.6.1
numpy==1.22.0
Pillow==7.1.2
psycopg2==2.8.5
psycopg2-binary==2.8.5
python-decouple==3.3
pytz==2020.1
six==1.15.0
soupsieve==2.0.1
sqlparse==0.3.1
whitenoise==5.1.0
zipp==3.1.0
