{%extends 'base.html'%}
{% block content %}
{{ block.super}}
{% load bootstrap4 %}

<br>
<br>
<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>

<div class="container-fluid">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-11">
      {% for project in projects %}

      <div class="card mr-0" style="max-width:70rem; margin-top:5px;">

        <img src="{{project.project_image.url}}" class="card-img-top">
        <div class="card-body">

          <div class="media">
            <div class="media-left media-top">
              <a href="/profile/{{project.profile.id}}" title="profile">
                <img class="img-fluid rounded-circle" src="{{project.profile.profile_photo.url}}" class="media-object" style="height: 100px;
width: 100px;">
                <button class="button"><a href="{{ project.project_link }}" target="_blank">view site</a></button>
              </a>

            </div>
            <div class="media-body">
              <h4 class="media-heading" style="padding:10px; margin:5px">{{ project.title }}</h4>
              <h6 class="media-content" style="padding:10px; margin:5px">{{ project.description }}</h6>
              <button class=" one d-flex justify-content-end" style="float:right; padding:10px; margin:5px">Votes {{ project.reviews.count| floatformat  }}</button>
              <button class=" two d-flex justify-content-end" style="float:right; padding:10px; margin:5px">design {{ project.design_rating| floatformat  }}</button>
              <button class=" three d-flex justify-content-end" style="float:right; padding:10px; margin:5px">usability {{ project.usability_rating| floatformat  }}</button>
              <button class="four d-flex justify-content-end" style="float:right; padding:10px; margin:5px">content {{ project.content_rating| floatformat  }}</button>
            </div>
          </div>
          <hr>
          <div class="review-section">
            {% for review in reviews %}
            {% if project.id == review.project.id %}

            <p><strong>{{review.juror}}</strong> {{review.comment}} [usability: {{review.usability}}, content: {{review.content}} , design: {{review.design}}]</p>
            <p>{{ project.average_score | floatformat }}</p>
            {% endif %}

            {%endfor%}


            {{form.media}}
            <hr>
            <form action="{%url 'review' pk=project.id%}" method="post" enctype="multipart/form-data" id="sema">
              {%csrf_token%}
              <table>
                {{ form.as_table }}
              </table>
              <button type="submit">Vote</button>


            </form>

            {% block scripts %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

            {% bootstrap_javascript %}
            {% endblock %}
          </div>

        </div>

      </div>

      {% endfor %}
    </div>
    {% endblock %}
  </div>
</div>
